{% extends "AppBundle::base.html.twig" %}

{% block body %}
<div class='container'>
    <div class="col-md-12">
    <h2>{{ article.title }}</h2>
{% if app.user == article.owner %}
        <aside>
            <ul class="list-inline">
                <li><a href="{{ path("edit_article", {'id': article.id}) }}">Éditer</a></li>
                <li>Supprimer</li>
            </ul>
        </aside>
{% endif %}
        <p>
            {{ article.content|raw }}
        </p>
    </div>
</div>
{% endblock body %}